
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>O projekcie</h1>
      <p>Aplikacja powstała ze względu na realną potrzebę sprawdzenia stanu blisko 50 przesyłek w ramach akcji "<a href="http://facebook.com/PublicznyRejestrUmow">Publiczny Rejestr Umów</a>" adresowanej do <a href="http://ochrona.jawne.info.pl/2015/05/11/mamy-prawo-wiedziec-o-publicznych-umowach/">Rady Ministrów</a>.</p>

      <p>This project was started using template created by <a href="http://github.com/sloria/">Steven Loria</a> for use with the <a href="http://github.com/audreyr/cookiecutter/">cookiecutter</a> package by <a href="http://github.com/audreyr/">Audrey Roy</a>.</p>
    </div>
</div>
{% endblock %}

